---
import ContactSection from "../../components/ContactSection.astro";
import Footer from "../../components/Footer.astro";
import AboutUsSection from "../../components/home/AboutUsSection.astro";
import App from "../../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Us Demo - Nutzy | Gen-Z Recruitment Platform</title>
    <meta
      name="description"
      content="Demo page showcasing the About Us section component for Nutzy's Gen-Z recruitment platform."
    />
  </head>
  <body>
    <App>
      <AboutUsSection />
      <ContactSection />
      <Footer />
    </App>
  </body>
</html>
