---
import App from "../../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nutzy - New Design</title>
    <meta
      name="description"
      content="New design for Nutzy - Gen-Z Recruitment Platform"
    />
  </head>
  <body>
    <App>
      <section class="h-full w-full flex">
        <div class="grid grid-cols-2 w-full px-32 mx-auto mt-32">
          <div>
            <h1 class="text-8xl font-bold text-black mb-4">
              Moeite met <br />
              <span class="text-purple-900">Gen Z</span>
              <br /> bereiken?
            </h1>
            <p class="text-lg hidden">
              Learn from more than 100+ hand selected videos of companies that
              create engaging, shareable product videos that not only boost
              brand awareness but also convert customers.
            </p>
          </div>
          <div class="flex w-full gap-2 overflow-x-auto max-w-lg text-center">
            <div class="bg-slate-200 h-80 w-128 rounded-lg text-xl">
              🪦 Saaie vacature
            </div>
          </div>
        </div>
      </section>
      <section class="w-full flex">
        <div class="w-full gap- grid grid-cols-2 mx-auto px-32 mt-32">
          <div class="max-w-lg">
            <h1 class="text-6xl font-bold text-black mb-4">
              Moeite met <br />
              <span class="text-purple-900">Gen Z</span>
              <br /> bereiken?
            </h1>
            <p class="text-lg">
              Learn from more than 100+ hand selected videos of companies that
              create engaging, shareable product videos that not only boost
              brand awareness but also convert customers.
            </p>
          </div>
          <div class="gap-2 w-140 shrink-0 relative">
            <div class="w-172 h-80 rounded-lg shadow-lg">
              <img
                class="bg-cover h-full w-full"
                src="/img/fanpage.png"
                alt="Job Offer"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="w-full flex">
        <div
          class="flex flex-col w-full justify-center items-center text-center mx-auto px-32 mt-32"
        >
          <div class="max-w-lg">
            <h1 class="text-6xl font-bold text-black mb-4">
              Moeite met <br />
              <span class="text-purple-900">Gen Z</span>
              <br /> bereiken?
            </h1>
            <p class="text-lg">
              Learn from more than 100+ hand selected videos of companies that
              create engaging, shareable product videos that not only boost
              brand awareness but also convert customers.
            </p>
          </div>
          <div
            class="gap-2 w-140 shrink-0 grid grid-cols-4 h-72 grid-row-2 mt-4"
          >
            <div class="rounded-lg col-span-2">
              <img src="/img/fanpage.png" alt="Job Offer" />
            </div>
            <div class="rounded-lg col-span-2">
              <img src="/img/fanpage.png" alt="Job Offer" />
            </div>
            <div class="rounded-lg col-span-2 col-start-2">
              <img src="/img/fanpage.png" alt="Job Offer" />
            </div>
          </div>
        </div>
      </section>
    </App>
  </body>
</html>
