---
import Section from "../Section.astro";
---

<Section
  sectionClassName="bg-primary-500"
  className="min-h-screen overflow-hidden gap-8 py-16 w-full items-center justify-center grid grid-cols-1 lg:grid-cols-2"
>
  <img
    class="absolute left-0 top-0 z-30 opacity-20 h-[200svh] w-[200svh] scale-100"
    src="/svg/particle/particle-2.svg"
  />
  <div class="order-2 lg:order-1 relative z-10 rounded-full relative z-50">
    <h1
      class="text-6xl text-shadow shadow-black lg:text-8xl font-bold text-white relative z-50"
    >
      Campagnes die <span class="text-secondary-200">Gen Z</span> raken <br /> én
      <span class="text-primary-200">versterken</span>
    </h1>
    <p class="text-xl text-white mt-6 max-w-2xl">
      Wij ontwikkelen campagnes die meer doen dan vacatures vullen – ze geven
      Gen Z het vertrouwen om te solliciteren.
    </p>
    <div class="mt-8 flex flex-wrap gap-4">
      <a
        href="#strategy"
        class="lg:px-8 lg:py-4 py-2 px-4 border-current border-2 font-bold rounded-lg hover:bg-black/10 transition-all duration-300"
      >
        Ontdek onze aanpak
      </a>
      <a
        href="#contact"
        class="lg:px-8 lg:py-4 py-2 px-4 bg-tertiary-500 text-black font-bold rounded-lg hover:brightness-105 transition-all duration-300"
      >
        Neem contact op
      </a>
    </div>
  </div>
</Section>
