---
import "video.js/dist/video-js.min.css";
import Footer from "../components/Footer.astro";
import BlogSection from "../components/home/BlogSection.astro";
import ContentCampainSection from "../components/home/ContentCampainSection.astro";
import HeroSection from "../components/home/HeroSection.astro";
import JobPlatformSection from "../components/home/JobPlatformSection.astro";
import KnowledgeEventSection from "../components/home/KnowledgeEventSection.astro";
import QuickscanCTASection from "../components/home/QuickscanCTASection.astro";
import HorizontalLogoScrollSection from "../components/HorizontalLogoScrollSection.astro";
import SelfieSquad from "../components/SelfieSquad.astro";
import App from "../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Nutzy - Gen-Z Recruitment Platform | Visuele Vacatures & Creator Network
    </title>
    <meta
      name="description"
      content="Bereik Gen-Z talent met Nutzy's visuele recruitment platform. Van visuele vacatures tot creator partnerships - transformeer jouw recruitment aanpak."
    />
  </head>
  <body>
    <App>
      <img
        class="absolute z-50 h-screen w-screen object-cover"
        src="/svg/Acorn.svg"
      />

      <HeroSection />
      <svg
        class="animate-wave relative -my-[6%]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-primary-500` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-primary-900`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <JobPlatformSection />
      <svg
        preserveAspectRatio="none"
        class="animate-wave relative -my-6 h-32 w-full"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-primary-900` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-secondary-200`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <HorizontalLogoScrollSection
        scrollDirection="left"
        scrollSpeed={0.6}
        backgroundColor="bg-secondary-200 !px-0 "
      />
      <svg
        preserveAspectRatio="none"
        class="animate-wave relative -my-6 h-32 w-full"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-secondary-200` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-secondary-500`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <ContentCampainSection />
      <svg
        class="animate-wave relative -my-[6%]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-secondary-500` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-primary-200`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <SelfieSquad />

      <QuickscanCTASection />
      <svg
        class="animate-wave relative -my-[6%]"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-primary-500` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-primary-900`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <KnowledgeEventSection />
      <svg
        preserveAspectRatio="none"
        class="animate-wave relative -my-6 h-32 w-full"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <rect class=`fill-primary-900` width="1440" height="320" x="0" y="0"
        ></rect>
        <path
          class=`fill-primary-500`
          fill-opacity="1"
          d="M0,64L34.3,69.3C68.6,75,137,85,206,80C274.3,75,343,53,411,58.7C480,64,549,96,617,122.7C685.7,149,754,171,823,186.7C891.4,203,960,213,1029,202.7C1097.1,192,1166,160,1234,128C1302.9,96,1371,64,1406,48L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        >
        </path>
      </svg>
      <BlogSection />
      <Footer />
    </App>
  </body>
</html>
