---
import ContactSection from "../components/ContactSection.astro";
import BlogSection from "../components/home/BlogSection.astro";
import ContentCampainSection from "../components/home/ContentCampainSection.astro";
import HeroSection from "../components/home/HeroSection.astro";
import JobPlatformSection from "../components/home/JobPlatformSection.astro";
import KnowledgeEventSection from "../components/home/KnowledgeEventSection.astro";
import HorizontalLogoScrollSection from "../components/HorizontalLogoScrollSection.astro";
import App from "../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Nutzy - Gen-Z Recruitment Platform | Visuele Vacatures & Creator Network
    </title>
    <meta
      name="description"
      content="Bereik Gen-Z talent met Nutzy's visuele recruitment platform. Van visuele vacatures tot creator partnerships - transformeer jouw recruitment aanpak."
    />
  </head>
  <body>
    <App>
      <!-- Scattered Card Gallery Demo -->
      <!-- <section class="min-h-screen">
        <ScatteredCardGallery className="px-32 mx-auto" cards={sampleCards} />
      </section> -->
      <HeroSection />
      <JobPlatformSection />
      <HorizontalLogoScrollSection
        scrollDirection="left"
        scrollSpeed={0.6}
        backgroundColor="bg-secondary-300"
      />
      <ContentCampainSection />
      <KnowledgeEventSection />
      <BlogSection />
      <ContactSection />
    </App>
  </body>
</html>
