---
import TinyMCE from "../components/TinyMCE.svelte";
import App from "../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>TinyMCE Demo - Nutzy</title>
    <meta name="description" content="TinyMCE rich text editor demo for Nutzy platform" />
  </head>
  <body class="bg-gray-50 min-h-screen">
        <TinyMCE client:load />
  </body>
</html>
