---
import CharacterCard from "../CharacterCard.astro";
---

<section
  class="bg-secondary-900 overflow-hidden relative py-32 px-64 gap-8 items-center justify-center grid grid-cols-2"
>
  <div>
    <h1 class="text-8xl font-bold text-white relative z-50">
      Content creatie & campagnes
    </h1>
    <p class="text-xl pt-4 text-white">
      Het bereiken van Generatie Z als digital natives doe je natuurlijk online.
      Met ons team van jonge content creators helpen we je bij het maken van
      passende Gen Z content. En we regelen ook jouw campagne. Meer weten?
    </p>
  </div>
  <div class="w-full h-80 relative z-50 flex gap-16">
    <CharacterCard
      className="!w-64 scale-75 -rotate-6"
      name="Content Creator"
      description="Een content creator die je content maakt en publiceert op de juiste platformen."
      avatarSrc="/img/avatars/maya-rodriguez.jpg"
      avatarAlt="Maya Rodriguez - Content Creator"
    />
    <CharacterCard
      className="!w-64 !scale-100 !left-1/4 z-50 !absolute"
      name="Content Creator"
      description="Een content creator die je content maakt en publiceert op de juiste platformen."
      avatarSrc="/img/avatars/maya-rodriguez.jpg"
      avatarAlt="Lotte - Content Creator"
    />
    <CharacterCard
      className="!w-64 scale-75   rotate-6"
      name="Content Creator"
      description="Een content creator die je content maakt en publiceert op de juiste platformen."
      avatarSrc="/img/avatars/maya-rodriguez.jpg"
      avatarAlt="Lotte - Content Creator"
    />
  </div>
  <img
    class="absolute opacity-20 -top-48"
    src="/svg/Content-creator-amico.svg"
  />
</section>
