---
import CharacterCard from "../CharacterCard.astro";
import Section from "../Section.astro";
---

<Section
  wrapperId="content-campaign-section"
  sectionClassName="bg-secondary-500 overflow-hidden "
  className="relative min-h-screen  mx-auto gap-16 items-center justify-center flex z-50  flex-col lg:flex-row"
>
  <div class="text-center flex w-full flex-col gap-4 lg:text-left">
    <h1
      class="text-4xl md:text-6xl lg:text-7xl xl:text-7xl font-bold text-white relative z-50 text-shadow shadow-black"
    >
      Contentcreatie & <span class="text-primary-200">campagnes </span>
    </h1>
    <p class="text-md lg:text-xl pt-4 text-white max-w-2xl mx-auto lg:mx-0">
      Gen Z leeft online – en wij spreken hun taal. Ons team van jonge creators
      maakt content die zelfvertrouwen geeft en laat zien wat jouw bedrijf te
      bieden heeft. Van TikTok tot LinkedIn, wij brengen jouw verhaal tot leven.
    </p>
    <a
      href="/campain-strategy"
      class="lg:px-8 lg:py-4 mx-auto lg:mx-0 px-4 py-2 w-fit bg-tertiary-500 text-black font-bold rounded-lg hover:brightness-105 transition-all duration-300"
    >
      Ontdek onze aanpak
    </a>
  </div>
  <div
    id="character-cards"
    class="w-full h-64 px-8 p relative z-50 flex justify-center items-center lg:pl-12"
  >
    <CharacterCard
      id="floor-van-bergen"
      className=" lg:absolute -translate-2 h-80 w-64 absolute"
      name="Floor van Bergen"
      description="Een content creator die je content maakt en publiceert op de juiste platformen."
      avatarSrc="https://imagedelivery.net/E7Eayshix4aN786AJOti1g/6903d35b-dee2-4221-8705-95d363102e00/public"
      avatarAlt="Maya Rodriguez - Content Creator"
    />
    <CharacterCard
      id="lotte-moerkens"
      className=" -translate-4 h-80 w-64 absolute"
      name="Lotte Moerkens"
      description="Een content creator die je content maakt en publiceert op de juiste platformen."
      avatarSrc="https://imagedelivery.net/E7Eayshix4aN786AJOti1g/bc61e144-253c-4393-c18e-8828377d2100/public"
      avatarAlt="Emma - Content Creator"
    />
  </div>
</Section>

<script>
  import { gsap } from "gsap";
  import { Flip } from "gsap/Flip";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(Flip);

  const floorVanBergen = document.getElementById("floor-van-bergen");
  const lotteMoerkens = document.getElementById("lotte-moerkens");
  const characterCards = document.getElementById("content-campaign-section");

  const isMobile = window.innerWidth < 768;

  const timeline = gsap.timeline({ paused: true });

  timeline.fromTo(
    lotteMoerkens,
    { x: "0%", duration: 1, scale: 1, rotate: 0, zIndex: 2 },
    { x: "-100%", duration: 1, scale: 0.8, zIndex: 2 },
    0
  );

  timeline.fromTo(
    floorVanBergen,
    { x: "4%", duration: 1, scale: 1, zIndex: 1 },
    { x: "0", duration: 1, scale: 1, zIndex: 1 },
    0
  );

  timeline.fromTo(
    lotteMoerkens,
    { x: "-100%", duration: 1, scale: 0.8, zIndex: 1 },
    { x: "4%", duration: 1, scale: 0.8, zIndex: 1 },
    1
  );

  timeline.fromTo(
    floorVanBergen,
    { x: "0", duration: 1, scale: 1, zIndex: 2 },
    { x: "0", duration: 1, scale: 1, zIndex: 2 },
    1
  );

  ScrollTrigger.create({
    trigger: characterCards,
    start: "top 5%",
    end: "bottom +=10px",
    pinType: "fixed",
    pin: true,
    scrub: 0.8,
    animation: timeline,
  });
</script>
