<section
  class="bg-primary-900 relative  py-8 px-64 gap-8 items-center justify-center grid grid-cols-2"
>

  <img class="absolute -top-24 opacity-10 z-10" src="/svg/Web-devices-amico.svg" />
  <img
    src="/img/iphone-mockup.svg"
    alt="iPhone mockup showing Nutzy product video"
    class="bg-cover drop-shadow-2xl relaitve z-40"
    width="300"
    height="600"
    loading="lazy"
  />
    <!-- <img class="absolute top-0 right-0 h-96 z-30 rotate-270" src="/svg/particle/rocket.svg" /> -->

  <div class="relative z-30">
    <h1
      class="text-8xl font-bold text-white relative z-50 text-shadow shadow-black"
    >
      Jobplatform <span class="text-secondary-200">Nutzy</span>
    </h1>
    <!-- <img src="/svg/" -->
    <p class="text-xl pt-4 text-white">
      Met zo'n 30.000 bezoekers per maand en 5% conversie percentage zien we dat
      ons Nutzy jobplatform echt aanslaat bij de jongere generaties. Lees meer
      over ons platform op onze Nutzy pagina.
    </p>
  </div>
</section>
