---
import Section from "../Section.astro";
---

<Section
  sectionClassName="bg-primary-900"
  className="relative py-8 md:py-16 lg:py-24 gap-8 items-center justify-center grid grid-cols-1 lg:grid-cols-2"
>
  <img
    class="absolute -top-24 opacity-5 z-10 hidden lg:block"
    src="/svg/Web-devices-amico.svg"
  />
  <div class="flex justify-center lg:justify-start order-2 lg:order-1">
    <img
      src="/img/iphone-mockup.svg"
      alt="iPhone mockup showing Nutzy product video"
      class="bg-cover drop-shadow-2xl relative z-40 w-48 md:w-64 lg:w-80 h-auto"
      loading="lazy"
    />
  </div>
  <!-- <img class="absolute top-0 right-0 h-96 z-30 rotate-270" src="/svg/particle/rocket.svg" /> -->

  <div class="relative z-30 text-center lg:text-left order-1 lg:order-2">
    <h1
      class="text-3xl md:text-5xl lg:text-6xl xl:text-8xl font-bold text-white relative z-50 text-shadow shadow-black"
    >
      Jobplatform <span class="text-secondary-200">Nutzy</span>
    </h1>
    <!-- <img src="/svg/" -->
    <p
      class="text-base md:text-lg lg:text-xl pt-4 text-white max-w-2xl mx-auto lg:mx-0"
    >
      Met zo'n 30.000 bezoekers per maand en 5% conversie percentage zien we dat
      ons Nutzy jobplatform echt aanslaat bij de jongere generaties. Lees meer
      over ons platform op onze Nutzy pagina.
    </p>
  </div>
</Section>
