---
import EventCalendar from "../EventCalendar.astro";
import Section from "../Section.astro";
---

<Section
  sectionClassName="bg-primary-900"
  className="overflow-hidden relative mx-auto py-16 md:py-24 lg:py-32 gap-8 items-center justify-center"
>
  <img class="absolute top-48 opacity-5" src="/svg/Standup-meeting-amico.svg" />

  <!-- Content Container -->
  <!-- Text Content -->
  <div class="text-center mb-8 lg:mb-12 relative">
    <h1
      class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl font-bold text-white relative z-50 text-shadow shadow-black"
    >
      Kennis <span class="text-secondary-200">delen</span>
    </h1>
    <p class="text-md lg:text-xl pt-4 text-white max-w-2xl mx-auto">
      Wij zijn er niet alleen om vacatures te vullen, maar om de kloof tussen
      generatie en werkgever te dichten. Op events, in artikelen en samen met
      onze ambassadeurs delen we kennis en inzichten die direct toepasbaar zijn.
    </p>
    <button
      class="mt-8 bg-tertiary-500 text-black font-bold py-2 px-4 lg:py-4 lg:px-8 rounded-lg hover:brightness-105 transition-all duration-300"
    >
      Lees onze inzichten
    </button>
  </div>

  <!-- Calendar Component -->
  <div class="w-full relative">
    <EventCalendar />
  </div>
</Section>
