<section
  class="bg-primary-300 overflow-hidden relative py-32 px-64 gap-8 items-center justify-center grid grid-cols-2"
>
  <img
    class="absolute h-screen rotate-6 opacity-75"
    src="/svg/Envelope-cuate.svg"
  />
  <div class="flex flex-col">
    <h1
      class="text-7xl font-bold text-black relative z-50 shadow-white text-shadow"
    >
      Niet gevonden wat je zoekt?
    </h1>
    <!-- <img src="svg/sad-face-52.svg" /> -->
  </div>
  <div>
    <form>
      <input type="text" placeholder="Jouw naam" />
      <input type="email" placeholder="Jouw e-mailadres" />
      <textarea placeholder="Jouw bericht"></textarea>
      <button type="submit">Verstuur</button>
    </form>
  </div>
</section>
