<header class="fixed top-0 h-24 bg-white z-50 w-screen">
  <nav class="lg:flex hidden">
    <div>logo</div>
    <div class="ml-auto">link 1</div>
    <div>link 1</div>
    <div>link 1</div>
    <div>link 1</div>
    <div>link 1</div>
  </nav>
  <nav class="flex lg:hidden">
    <button id="mobile-nav-button"> toggle </button>
    <ul
      class="transition-all h-screen -translate-x-full bg-red-500 duration-500"
      id="mobile-nav-menu"
    >
      <li>
        <a>link 1</a>
        <a>link 2</a>
        <a>link 3</a>
        <a>link 4</a>
        <a>link 5</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const el = document.getElementById("mobile-nav-menu");

  const button = document.getElementById("mobile-nav-button");

  button?.addEventListener("click", () => {
    el?.classList.toggle("-translate-x-full");
    el?.classList.toggle("translate-x-0");
  });
</script>
