---
export interface Props {
  className?: string;
  maxWidth?: string;
  sectionClassName?: string;
}

const {
  className = "",
  maxWidth = "max-w-7xl mx-auto overflow-hidden",
  sectionClassName = "bg-primary-500",
} = Astro.props;
---

<section class={sectionClassName}>
  <div class={`${maxWidth} ${className}`}>
    <slot />
  </div>
</section>
