<div class="h-[150svh] overflow-hidden text-center bg-primary-200">
  <h1
    class="text-5xl lg:text-8xl font-anton text-shadow shadow-primary-500 my-16"
  >
    Nutzy selfie squad
  </h1>
  <iframe
    seamless="seamless"
    style="overflow:hidden"
    scrolling="no"
    class="w-full h-full lg:max-w-7xl mx-auto overflow-hidden shadow-2xl rounded-lg shadow-primary-500"
    src="https://www.selfie-squad.com/nutzy"
  >
  </iframe>
</div>
