---
import AboutSection1 from "../../components/AboutSection1.astro";
import ContactSection from "../../components/ContactSection.astro";
import FanpageSection from "../../components/FanpageSection.astro";
import Footer from "../../components/Footer.astro";
import HorizontalLogoScrollSection from "../../components/HorizontalLogoScrollSection.astro";
import NutzyStatsSection from "../../components/NutzyStatsSection.astro";
import PlatformHeroSection from "../../components/PlatformHeroSection.astro";
import App from "../../layouts/App.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Nutzy - Gen-Z Recruitment Platform | Visuele Vacatures & Creator Network
    </title>
    <meta
      name="description"
      content="Bereik Gen-Z talent met Nutzy's visuele recruitment platform. Van visuele vacatures tot creator partnerships - transformeer jouw recruitment aanpak."
    />
  </head>
  <body>
    <App>
      <PlatformHeroSection />
      <FanpageSection />
      <AboutSection1 />
      <HorizontalLogoScrollSection />
      <NutzyStatsSection />
      <ContactSection />
      <Footer />
    </App>
  </body>
</html>
